*{
    box-sizing:border-box;
}

html,body{
    overflow-x:hidden;
    width:100%;
}

body{
font-family:'Poppins', sans-serif;
margin:0;
background:#fff;
}

header{
display:flex;
justify-content: space-between;
align-items: center;
padding:10px 40px;
background:#e63939;
color:white;
position: relative;
}



.left {
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo{
    display:flex;
    align-items:center;
    font-size:24px;
    font-weight:bold;
    gap:15px;
}
    
.logo img{
    width:120px; 
    height: auto;   
}

 .menu{
    display:flex;
    list-style:none;
    gap:50px;
    margin:0;
    padding:0;
 }

 .menu a{
color: white;
text-decoration: none;
font-weight: 600;
font-size: 18px;
transition: opacity 0.3s;
 }

 .menu a:hover{
 opacity: 0.8;

 }
            
nav a{
color:white;
margin:15px;
text-decoration:none;
}

.about{
padding-top: -40px;
}

.about h2{
    margin-top: 0;
}

.hero{
text-align:center;
padding:10px 10px 30px;
background:#e63939;
color:white;
border-bottom-left-radius:10000px;
border-bottom-right-radius:10000px;
}

.hero h2{
    font-size:60px;
    font-weight:700;
    letter-spacing:5px;
    text-shadow: 0 4px 10px rgba(0,0,0,0.2);
    margin: 10px 0;
}

.order-btn{
display:inline-block;
padding:22px 55px;
background:white;
color:#e63939;
font-size:26px;
border-radius:40px;
text-decoration:none;
font-weight:bold;
margin-top:-10px;
}

html{
scroll-behavior: smooth;
}

#menu{
padding:50px 20px;
text-align:center;
display: flex !important;
flex-direction: row !important;
flex-wrap: wrap;
justify-content: center;
align-items: stretch;
gap: 30px;
}

#menu h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.pizza-card img{
    width:100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.hero-pizza{
    width:550px;
    display:block;
    margin:10px auto;
    transform: scaleX(1.2);
}

.pizza-card p {
    flex-grow: 1;
    font-size: 14px;
    color: #777;
}

.pizza-card span {
    display:block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #e63939;
}

footer{
background:#222;
color:white;
text-align:center;
padding:20px;
}

.nav{
display: flex !important;
align-items: center;
padding: 20px;
background: #e63939;
color:white;
justify-content: space-between !important;
}

.phone{
    background:white;
    color:#e63939;
    padding:16px 30px;
    border-radius:30px;
    font-weight:600;
    font-size:16px;
    width:max-content;
    margin-left:auto !important;
    white-space: nowrap;
    position: absolute;
    right: 40px;
    top: 70px;
    align-self: center;
    transform: translateY(5px);
}

.about-page{
padding:80px 40px;
text-align:center;
}

.about-content{
display:flex;
align-items:center;
justify-content:center;
gap:60px;
margin-top:40px;
}

.about-img{
width:500px;
border-radius:20px;
}

.about-text{
max-width:500px;
font-size:24px;
text-align:left;
line-height:1.5;
}


.map-section{
padding:40px 40px;
text-align:center;
}

.map-section h2{
margin-top:0;
margin-bottom:30px;
font-size:30px;
}

.map-content{
display:flex;
align-items:center;
justify-content:center;
gap:50px;
}

.map-frame iframe{
width:900px;
height:500px;
border:0;
border-radius:20px;
}

.map-text{
max-width:400px;
font-size:24px;
text-align:left;
line-height:1.5;
}

.card-inner{
width:100%;
height:100%;
position:relative;
transition: transform 0.6s;
transform-style: preserve-3d;
}
/* переворот */
.pizza-card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front,
.card-back{
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
background:white;
border-radius:20px;
backface-visibility:hidden;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
padding:20px;
box-sizing:border-box;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
}
/* перед */
.card-front img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.card-back {
    transform: rotateY(180deg);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform:rotateY(180deg);
}
/* кнопка */
.card-back button {
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background: #e63939;
    color: white;
    cursor: pointer;
}
.card-back h3,
.card-back h4,
.card-back p {
    margin: 5px 0;
}

.card-back p {
    min-height: 40px;
}

.size-select{
display: flex;
gap: 10px;
margin: 10px 0;
}

.size-select button{
padding: 6px 12px;
border-radius: 15px;
border:1px solid #e63939;
background: white;
color: #e63939;
cursor: pointer;
}

.size-select button.active{
background: #e63939;
color: white;
}

.size-select button:hover{
background-color: #e63939;
color: white;
}

.cart-button{
position: fixed;
bottom: 30px;
right: 30px;
background: #e63939;
color: white;
padding: 18px 22px;
border-radius: 50px;
font-size: 28px;
font-weight: bold;
box-shadow: 0 10px 20px rgba(0,0,0,0.2);
cursor: pointer;
z-index: 1000;
text-decoration: none;
}
.size-select{
display:flex;
gap:10px;
margin:10px 0;
}

.size-select button{
padding:6px 12px;
border-radius:15px;
border:1px solid #e63939;
background:white;
color:#e63939;
cursor:pointer;
}

.size-select button.active{
background:#e63939;
color:white;
}
.cart-button:hover{
    background: #c72f2f;
    transform: scale(1.1 );
}
.cart-container{
display:flex;
flex-wrap: wrap;
justify-content: center;
gap:30px;
margin-top:40px;
}

.cart-item{
width:280px;
background:white;
border-radius:20px;
padding:20px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
text-align:center;
}

.cart-img{
width:120px;
border-radius:10px;
}

.cart-button span{
background:#e63939;
color:white;
border-radius:50%;
padding:3px 8px;
margin-left:6px;
font-size:14px;
}

.cart-items{
display:flex;
flex-wrap:wrap;
gap:30px;
justify-content:center;
}

.cart-buttons{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display:flex;
    flex-direction: column;
    gap:15px;
}

.clear-cart{
background:#e63939;
color:white;
border:none;
cursor:pointer;
width: 220px;        /* одинаковая ширина */
padding: 15px;
font-size: 18px;
border-radius: 25px;
}

.order-btn{
background:#2ecc71;
color:white;
border:none;
cursor:pointer;
width: 220px;        /* одинаковая ширина */
padding: 15px;
font-size: 18px;
border-radius: 25px;
}

.fly-pizza {
    position: fixed;
    width: 100px;
    pointer-events: none;
    z-index: 9999;
    transition: all 0.8s cubic-bezier(0.5, -0.5, 1, 1);
}


.modal-content input{
    padding:10px;
    border-radius:10px;
    border:1px solid #ccc;
}

.modal-content button{
    padding:12px;
    border:none;
    border-radius:20px;
    background:#e63939;
    color:white;
    cursor:pointer;
}
.modal{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.modal-content{
    background:white;
    padding:30px;
    border-radius:20px;
    text-align:center;
    display:flex;
    flex-direction:column;
    gap:15px;
    width:300px;
}

.payment-methods{
    display:flex;
    flex-direction:column;
    gap:10px;
    text-align:left;
}

.payment-methods label{
    background:#f5f5f5;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
}

.payment-methods input{
    margin-right:8px;
}
textarea{
width:100%;
padding:10px;
margin-top:10px;
border-radius:10px;
border:1px solid #ccc;
font-size:16px;
resize:none;
}

#card-fields input{
margin-top:10px;
}

.card-front{
    position: relative; /* важно */
}

.badge{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #e63939;
    color: white;
    font-size: 12px;
    padding: 8px 10px;
    border-radius: 50px;
    font-weight: bold;
    transform: rotate(15deg); /* чуть повернута, выглядит живее */
    z-index: 2;
}
.pizza-card{
width:280px;
height:380px;
perspective:1000px;
}
.pizza-card:hover .card-inner{
transform:rotateY(180deg);
}
.card-front img{
width:100%;
height:180px;
object-fit:contain;
margin-bottom:10px;
}
.account-btn{
    background:#e63939;
    color:white;
    padding:10px 18px;
    border-radius:20px;
    text-decoration:none;
    margin-right:20px;
}
max-width: 768px{

.nav{
    flex-direction:column;
    gap:15px;
}

.menu{
    flex-wrap:wrap;
    justify-content:center;
}

.hero h2{
    font-size:32px;
    text-align:center;
}

.hero-pizza{
    width:90%;
    max-width:350px;
}

#menu{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.pizza-card{
    width:90%;
    max-width:320px;
}

.cart-button{
    right:15px;
    bottom:15px;
}

.phone{
    text-align:center;
}

}

